body {
	background-color: #d8d8d0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	width: 100%;
}

.container {
	max-width: 750px;
	margin: 0 auto;
}

.headline {
	font-size: 60px;
	color: black;
	line-height: 85px;
	font-family: Georgia;
}
.body {
	font-family: Georgia;
	font-size: 22px;
	line-height:  32px;
}
