body {
	background-color: #ffffff;
	-webkit-font-smoothing: antialiased;
	z-indexmoz-osx-font-smoothing: grayscale;
}
	


img {
	width: 100%;
}

.container {
	max-width: 720px;
	margin: 0 auto;
}

.headline {
	font-size: 70px;
	line-height: 95px;
	font-family: Century;

}
.body {
	font-family: Habibi;
	font-size: 22px;
	line-height: 32px;
}
